@import url('https://fonts.googleapis.com/css2?family=Anton&family=Nerko+One&display=swap');


body{
    background-color:#9a7e36;

}
body{
  background-color:#9a7e36;

}

.nav-list{ font-family: Anton, sans-serif;
background: #000;
margin: 0%;
box-shadow: none;
padding: 1rem 0%;
border-radius:var(--radius);
display: flex;
align-items: center;


}


.nav-item{ 
list-style: none;
margin-left: 2rem;


}


.nav-item a{
font-family: Anton;
text-decoration: none;
color:#c39c39;
}


.heading{ 
  font-style: italic;
  color: #000;
  text-align: center;
  font-weight: bold;
  font-size: 35px;
}

 .rooster-stance h1{
   font-family: nerko-one,sans-serif;
   color: rgba(249, 247, 254, 0.826);
   font-size: 30px;
   font-style: italic;
   text-decoration: underline;

   }

                   
  .rooster-stance h2{  
    font-family: nerko-one,sans-serif;
    color: #000;
    font-style: italic;
    font-size: 25px;
    font-style: italic;
  
  }

 .rooster-stance h3{ 
                 font-family: nerko-one,sans-serif;
                 font-size: 25px;
                 color: #000;
                
    
 }



 .horse-stance h1{
  font-family: nerko-one,sans-serif;
   color: rgba(249, 247, 254, 0.826);
   font-size: 30px;
   font-style: italic;
   text-decoration: underline;

   }

   
.horse-stance h2{  
font-family: nerko-one,sans-serif;
color: #000;
font-style: italic;
font-size: 25px;
font-style: italic;



}
.horse-stance h3{ 
 font-family: nerko-one,sans-serif;
 font-size: 25px;
 color: #000;

}
 
 .guided-meditation h1{ 
  font-family: nerko-one,sans-serif;
  color: rgba(249, 247, 254, 0.826);
  font-size: 30px;
  font-style: italic;
  text-decoration: underline;
                   
 }

 .guided-meditation h2{
  font-family: nerko-one,sans-serif;
  color: #000;
  font-style: italic;
  font-size: 25px;
  font-style: italic;
 }

  .guided-meditation h3{
    font-family: nerko-one,sans-serif;
    color: #000;
    font-style: italic;
    font-size: 25px;
    font-style: italic;
  }

