@import url('https://fonts.googleapis.com/css2?family=Anton&family=Nerko+One&display=swap');


body{
    background-color: white;

}



    .nav-list{

        font-family: Anton, sans-serif;
        background: inherit;
        margin: 0%;
        padding: 1rem 0%;
        border-radius:var(--radius);
        display: flex;
        align-items: center;
    }
    
    .nav-item{ 
    list-style: none;
    margin-left: 2rem;
    
    }
    
    
    .nav-item a{
        font-family: Anton;
        text-decoration: none;
        color: #9a7e36;
        border-color: inherit;
}






/* VIDEO */

.video {
       width: 100vw;
       height: 100vh;

       position: fixed;
       top: 0;
       left: 0;
      
       z-index: -1;
}

.video video {
               position: absolute;
               top: 50%;
               left: 50%;
               transform: translate(-50%, -50%);

               min-width: 100%;
               min-height: 100%;


}




/*  CHI-EXERCISES */

  .chi-exercises{
                 width: 100vw;
                 height: 100vh;
                 display: grid;
                 grid-template-areas: 
                 "a b c";
                
                 
  }

  /* HORSE */
   
  .horse-stance{
                grid-template-areas: a;
                background-color:rgba(165, 42, 42, 0.637);
                opacity: 0.9;
                align-items: center ,center;
                width: 33.3vw;
                height: 62%;
                color: white;
                text-decoration: solid;
                font-family: nerko-one, sans-serif;
                font-size: 16px;
                
               
               
  }
  
  
     
  /* Rooster */
               
  .rooster-stance{
                  grid-template-areas: b;
                 background-color: black;
                 opacity: 0.5;
                 width: 33.3vw;
                
  }


  /* Archer */
     
 .archer-stance{
                grid-template-areas: c ;
                background-color: green;
                opacity: 0.5;
                width: 33.3vw;
 }


/* FOR SMALL SCREENS */
@media screen and (max-width: 600px) {
    /* VIDEO */
    .video video{
                 height: 100%;
    }
}




/* YOUTUBE VIDEO FOR SMALL SCREENS */