@import url('https://fonts.googleapis.com/css2?family=Anton&family=Nerko+One&display=swap');

body{ margin: 0;
      padding: 0;
      font-family: anton,sans-serif;
      background-color: #9a7e36;
      
}

 nav ul{
     margin: 0;
     padding: 0;
     height: 100%;
     width: 260px;
     position: fixed;
     top: 0;
     left: 0;
     background-color: rgb(31, 29, 29);
}

nav ul li{
     list-style: none;
}

nav ul li a{
            display:block;
            font-family: anton,sans-serif;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 20px;
            color: white;
            position: relative;
            padding: 25px 0 25px 25px;
}

nav ul li a:before{
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          width: 0;
          height: 100%;
          background: #9a7e36;
          z-index: -1;
          transition: all 300ms ease-in-out;
}

nav ul li a:hover:before{
     width: 95%;

 }   
 
 .wrapper{
          margin-left: 260px;
 }

 .section{
          display: grid;
          place-items: center;
          min-height: 100vh;
          text-align: center;
 }

.box-area header{ 
             font-family: Anton;
             text-align: center;
             text-transform: uppercase;
             font-weight: 300;
             font-size: 50px;

}

.box-area footer {
      font-family: Anton;
      text-align: center;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 40px;

}

.box-area{
       width:75%;
       
}

       


.logo{
      border-style: outset;
      border-width: 10px;
      border-color: beige;
      background-color: black;
      width: 150px;
      height: 150px;
      overflow: hidden;
      margin: 25px auto;
}

.logo img{
          width: 100%;
          
}

/* for very small screens portrait and landscape mode */



@media screen and (max-width: 397px) and (max-height: 320px) and (orientation: landscape) { 
  body { 
        margin: 0;
        padding: 0;
        font-family: anton,sans-serif;
        background-color: #9a7e36;
  } 
  nav ul {
        margin: 0;
        padding: 0;
        height: 200vh;
        width: 30vw;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgb(31, 29, 29);
   }
   
   nav ul li {
        list-style: none;
   }
   
   nav ul li a {
               display:block;
               font-family: anton,sans-serif;
               text-decoration: none;
               text-transform: uppercase;
               font-size: 15px;
               color: white;
               position: relative;
               
   }
   
   nav ul li a:before {
             content: "";
             position: absolute;
             top: 0;
             right: 0;
             width: 0;
             height: 50vh;
             background: #9a7e36;
             z-index: -1;
             transition: all 300ms ease-in-out;
   }
   
   nav ul li a:hover:before {
        width: 50vw;
   
    }   
    
    .wrapper {
             margin-left:auto;
    }
   
    .section {
             display: grid;
             min-height: fit-content;
             text-align: center;
    }
   
   .box-area header { 
                font-family: Anton;
                text-align: center;
                text-transform: uppercase;
                font-weight: 100;
                font-size: 20px;
   
   }
   
   .box-area footer {
         font-family: Anton;
         text-align: right;
         text-transform: uppercase;
         font-weight: 100;
         font-size: 15px;
   
   }
   
   .box-area {
          width:fit-content;
          
   }
   
          
   
   
   .logo {
         
         
           
         background-color: black;
         width: 10vw;
         height: 10vh;
         overflow: hidden;
         margin: auto;
   }
   
   .logo img {
             width: 10vw;
             
   }
  
}

      /* for ipad Air screens  */
@media screen and (min-width: 820px) and (min-height: 1180px) {

      body{ margin: 0;
            padding: 0;
            font-family: anton,sans-serif;
            background-color: #9a7e36;
            
      }
      
       nav ul{
           margin: 0;
           padding: 0;
           height: 100%;
           width: 200px;
           position: fixed;
           top: 0;
           left: 0;
           background-color: rgb(31, 29, 29);
      }
      
      nav ul li{
           list-style: none;
      }
      
      nav ul li a{
                  display:block;
                  font-family: anton,sans-serif;
                  text-decoration: none;
                  text-transform: uppercase;
                  font-size: 20px;
                  color: white;
                  position: relative;
                  padding: 25px 0 25px 25px;
      }
      
      nav ul li a:before{
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                width: 0;
                height: 100%;
                background: #9a7e36;
                z-index: -1;
                transition: all 300ms ease-in-out;
      }
      
      nav ul li a:hover:before{
           width: 95%;
      
       }   
       
       .wrapper{
                margin-right: 90px;
       }
      
       .section{
                display: grid;
                place-items: center;
                min-height: 80vh;
                text-align: center;
       }
      
      .box-area header{ 
                   font-family: Anton;
                   text-align: center;
                   text-transform: uppercase;
                   font-weight: 300;
                   font-size: 50px;
      
      }
      
      .box-area footer {
            font-family: Anton;
            text-align: center;
            text-transform: uppercase;
            font-weight: 300;
            font-size: 40px;
      
      }
      
      .box-area{
             width:fit-content;
             
      }
}      

     
/* Style for screens above 768 pixels in width */
@media screen and (min-width: 768px) {

      body{ margin: 0;
                 padding: 0;
                 font-family: anton,sans-serif;
                 background-color: #9a7e36;
                 
           }
           
            nav ul{
                margin: 0;
                padding: 0;
                height: 100%;
                width: 200px;
                position: fixed;
                top: 0;
                left: 0;
                background-color: rgb(31, 29, 29);
           }
           
           nav ul li{
                list-style: none;
           }
           
           nav ul li a{
                       display:block;
                       font-family: anton,sans-serif;
                       text-decoration: none;
                       text-transform: uppercase;
                       font-size: 20px;
                       color: white;
                       position: relative;
                       padding: 25px 0 25px 25px;
           }
           
           nav ul li a:before{
                     content: "";
                     position: absolute;
                     top: 0;
                     right: 0;
                     width: 0;
                     height: 100%;
                     background: #9a7e36;
                     z-index: -1;
                     transition: all 300ms ease-in-out;
           }
           
           nav ul li a:hover:before{
                width: 95%;
           
            }   
            
            .wrapper{
                     margin-right: 90px;
            }
           
            .section{
                     display: grid;
                     place-items: center;
                     min-height: 80vh;
                     text-align: center;
            }
           
           .box-area header{ 
                        font-family: Anton;
                        text-align: center;
                        text-transform: uppercase;
                        font-weight: 300;
                        font-size: 50px;
           
           }
           
           .box-area footer {
                 font-family: Anton;
                 text-align: center;
                 text-transform: uppercase;
                 font-weight: 300;
                 font-size: 40px;
           
           }
           
        
     
     .logo {
              
              
                
              background-color: black;
              width: 0;
              height: 0vw;
              overflow: hidden;
              margin: auto;
        }
        
        .logo img {
                  width:0;
                  height:0;

            }
       
     }