@import url('https://fonts.googleapis.com/css2?family=Anton&family=Nerko+One&display=swap');

body{ margin: 0;
      padding: 0;
      font-family: anton,sans-serif;
      background: #f3d3fc;
      
}

 nav ul{
     margin: 0;
     padding: 0;
     height: 100%;
     width: 260px;
     position: fixed;
     top: 0;
     left: 0;
     background-color: #600572;
}

nav ul li{
     list-style: none;
}

nav ul li a{
            display:block;
            font-family: anton,sans-serif;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 20px;
            color: white;
            position: relative;
            padding: 25px 0 25px 25px;
}

nav ul li a:before{
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          width: 0;
          height: 100%;
          background: #2A2A2E;
          z-index: -1;
          transition: all 300ms ease-in-out;
}

nav ul li a:hover:before{
     width: 95%;

 }   
 
 .wrapper{
          margin-left: 260px;
 }

 .section{
          display: grid;
          place-items: center;
          min-height: 100vh;
          text-align: center;
 }

.box-area header{ 
             font-family: Anton;
             text-align: center;
             text-transform: uppercase;
             font-weight: 300;
             font-size: 50px;

}

.box-area footer {
      font-family: Anton;
      text-align: center;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 40px;

}

.box-area{
       width:75%;
       
}

       


.logo{
      border-style: outset;
      border-width: 10px;
      border-color: beige;
      background-color: black;
      width: 150px;
      height: 150px;
      overflow: hidden;
      margin: 25px auto;
}

.logo img{
          width: 100%;
          
}


.image-grid{
            --gap: 16px;
            --num-cols: 4;
            --row-height: 4;
            --row-height: 300px;

            box-sizing: border-box;
            padding: var(--gap);


            display: grid;
            grid-template-columns: repeat(var(--num-cols), 1fr);
            grid-auto-rows: var(--row-height);
            gap: var(--gap);

}

.image-grid > img{
                width: 100%;
                height: 100%;
                object-fit: cover;
}


.image-grid-col-2{
            grid-column: span 2;
                
}

.image-grid-row-2{
      grid-row: span 2;
          
}



/* anything under 1024px */
@media screen and (max-width: 1024px){

             .image-grid{ 
                    --num-cols: 2;
                    --row-height: 200px;
             }
             
             
}
